
@{
    Layout = null;
}

@model IEnumerable<Booking>

  <div class="table-responsive animated fadeInLeft">
    <table class="table table-striped">
        <thead>
            <tr>

                <th></th>
                <th>Hora </th>
                <th>Cancha</th>
                <th>Cliente</th>
                <th>Info</th>
                <th>Estado</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Field.Name)
                    </td>
                    <td>
                        <button class="btn btn-info btn-xs" onclick="ShowUserDetails('@item.UserInfo.Id')">
                            @item.UserInfo.Email
                        </button>
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        <span class="label label-primary">  @item.Status</span>
                    </td>

                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Cambiar Estado
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">


                                @if (item.Status == BookingStatus.Pendiente)
                                {
                                    <li> <a   onclick="UpdateStatus('@item.Id','@BookingStatus.Reservada')">Confirmar</a></li>
                                    <li><a onclick="UpdateStatus('@item.Id','@BookingStatus.Denegado')">Denegar</a></li>
                                }
                                else if (item.Status == BookingStatus.Reservada)
                                {
                                    <li><a onclick="UpdateStatus('@item.Id','@BookingStatus.Finalizado')">Finalizar</a></li>
                                    <li><a onclick="UpdateStatus('@item.Id','@BookingStatus.Denegado')">Cancelar</a></li>
                                    <li> <a onclick="UpdateStatus('@item.Id','@BookingStatus.Falta')">Falta</a></li>
                                }
                                else if (item.Status == BookingStatus.Finalizado || item.Status == BookingStatus.Cancelado)
                                {
                                    <li><a onclick="UpdateStatus('@item.Id','@BookingStatus.Reservada')">Confirmar</a></li>
                                }

                            </ul>
                        </div>
                    </td>

                </tr>
            }
            
        </tbody>
    </table>
</div> 
 