@model Access.Models.Center 

@{
    Layout = null;
}
 
    
            <div class="col-lg-6 animated fadeInRight">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Información</h5>
                    </div>
                    <div class="ibox-content">


                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Idcompany)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Idcompany)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Type)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Type)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Location)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Location)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Town)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Town)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Department)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Department)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Country)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Country)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Neighborhood)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Neighborhood)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Administrator)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Administrator)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Personcontact)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Personcontact)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Phone1)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Phone1)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Phone2)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Phone2)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Opentime)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Opentime)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Closetime)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Closetime)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UserSign)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UserSign)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreateDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreateTime)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreateTime)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.OBJECTTYPE)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.OBJECTTYPE)
                            </dd>

                        </dl>

                        @Html.ActionLink("Volver Al Inicio", "Index", null, new { @class = "btn btn-white" })

                    </div>
                </div>
            </div>
    
    
    
  