@model Access.Models.Booking
@{
    Layout = null;
    var culture = new System.Globalization.CultureInfo("es-SV");
}


<div class="row">
    <div class="ibox-content">
        <h5>COMPLEJO</h5>
        <h2><strong> @Model.Field.Center.Name</strong></h2>
        <h5> CANCHA </h5>
        <h2> <strong> @Model.Field.Name</strong></h2>
    </div>
    <div class="ibox-content">
        <h5>FECHA</h5>
        <h2><strong>@Model.Start.Value.ToString("dd MMMM yyyy",culture)</strong></h2>
        <h5>HORA</h5>
        <h2><strong> @string.Format("{0:HH:mm}", Model.Start.Value)</strong></h2>
    </div>
    <div class="ibox-content">
        <h5>PRECIO</h5>
        <h2>
            <strong> @Html.DisplayFor(m => m.Price) </strong>
        </h2>

    </div>
</div>

@using (Html.BeginForm("Confirmar", "Canchas", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Userid)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Idcancha)
    @Html.HiddenFor(m => m.Start)
    @Html.HiddenFor(m => m.End)
    @Html.HiddenFor(m => m.Invoice)
    @Html.HiddenFor(m => m.Status)
    @*@Html.HiddenFor(m => m.Price)*@
    //bug no inserta precion en html

    <input type="hidden" name="Price" value="@Model.Price" />
    @Html.HiddenFor(m => m.DownPayment)
    @Html.HiddenFor(m => m.HasDownpay)
    @Html.HiddenFor(m => m.Pending)
    @Html.HiddenFor(m => m.Team1)
    @Html.HiddenFor(m => m.Team2)



    <div class="modal-footer">


        <button type="submit" class="btn btn-info   btn-lg btn-outline">
            <i class="fa fa-check"></i>
            @{
                var buttonText = User.Identity.IsAuthenticated ? "Reservar Cancha" : "Logearse para Reservar";
            }
            @buttonText
        </button>

        @*<button class="btn btn-warning btn-circle btn-lg" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
            </button>*@
    </div>
                }


<script type="text/javascript">

</script>