@{
    Layout = null;
    var filter = (FilterOptionModel)ViewBag.Filter;
    var options = new AjaxOptions()
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "fieldsContainer",
        LoadingElementId = "loaderSection",

    };
}
@model Field

<div class="col-lg-4 animated flipInX">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-warning-light pull-right">@Model.Lawn.ToString().ToUpper() </span>
            <span class="label label-default pull-right">@Model.Shoes.ToString().ToUpper()</span>
            <span class="label label-primary pull-right">@Model.Type.ToString().ToUpper()</span>

            <h5>@Model.Name</h5>
        </div>
        <div class="ibox-content">
            <div class="col-sm-6">
                <div class="text-center">
                    <a href="@Url.Action("CenterDetails", "Center", new { id = Model.CenterId })">
                        <div class="text-center">
                            <img alt="image" class="m-t-xs img-responsive" src="@Model.FieldPicure.ToString()" style="max-height:160px;max-width:160px">
                            @*<div class="m-t-xs font-bold">Graphics designer</div>*@
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-sm-6">

                <p>
                    <h3 class="font-bold no-margins">
                        <i class="fa fa-map-marker"></i> @Model.Location
                    </h3>
                </p>
                <p>
                    <h3 class="font-bold no-margins">
                        <i class="fa fa-map-marker"></i> @Model.Distance 
                    </h3>
                </p>
                <address>
                    <abbr title="Numero de cancha">#:</abbr> @Model.Name <br>
                    <abbr title="Telefono">T:</abbr> (503) @Model.Center.Phone1
                    <abbr title="Telefono">T:</abbr> (503) @Model.Center.Phone2
                </address>
                <p>

                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        @Html.Partial("Partials/BookingSelector", Model.Bookings)
    </div>
</div>


