@model Access.Models.Field
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_2.cshtml";

    var containsLocation = Model.Coordinates != null;
}


<div class="wrapper wrapper-content " id="fieldsContainer">
    <div class="row">
        @Html.Partial("Partials/FieldSearchDetail", Model)

        @Html.Partial("Partials/CenterDetails",Model.Center)
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Ubicacion</h5>
                </div>
                <div class="ibox-content">
                    <p>
                        Como llegar
                    </p>
                    <div class="google-map" id="fieldmap" style="height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
 

<script type="text/javascript">
    

    var map;
    var mapCenter;
    var fieldMarker;
    var directionsDisplay = new google.maps.DirectionsRenderer();

    var directionsService = new google.maps.DirectionsService();;

    $(function() {
        initialize();
    });
    
    
    function initialize() {
       
        var lat = '@Model.Coordinates.Latitude';
        var lon = '@Model.Coordinates.Longitude';
        console.log("field Coordinates lat=" + lat + " lon: " + lon);
        mapCenter = new google.maps.LatLng(lat, lon);
        var mapOptions = {
            center: mapCenter,
            zoom: 15
        };
        map = new google.maps.Map(document.getElementById("fieldmap"),
            mapOptions);

        directionsDisplay.setMap(map);

        displayPotision();
    }

    function displayPotision() {
        fieldMarker = new google.maps.Marker({
            position: mapCenter,
            title: '@Model.Name',
        });


        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(Mylatitude, Mylongitude),
            title: "mi ubicacion",
        });
        marker.setMap(map);
        fieldMarker.setMap(map);
        console.log(marker);

        var request = {
            origin: new google.maps.LatLng(Mylatitude, Mylongitude),
            destination: mapCenter,
            travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }
        });
    }
   
    
</script>