
 
<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="@Url.Action("Index","Canchas")" class="navbar-brand"><img src='@Url.Content("~/Images/logo_elc.png")'   /></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                @*<li class="active">
                        <a aria-expanded="false" role="button" href="@Url.Action("Index", "Layouts")"> Back to main Layout page</a>
                    </li>*@
                <li>
                    @using (Ajax.BeginForm("SearchFields", "Canchas", null, new AjaxOptions()
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "fieldsContainer",
                        LoadingElementId = "loaderSection",
                    }, new { @class = "navbar-form", role = "search", id = "searchFieldsForm" }))
                    {

                        <input type="hidden" id="lat" name="lat" />
                        <input type="hidden" id="lon" name="lon" />

                        <div class="input-group">
                            <div class="form-group">
                                <div class='input-group date'   >
                                    <input type='text' class="form-control" id="date" name="date" style="width:100px"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"  ></span>
                                    </span>
                                </div>
                                <div class="input-group clockpicker" >
                                    <input type="text" class="form-control" id="time" name="time"  style="width:100px">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time" id="timeIcon"></span>
                                    </span>
                                </div>
                            </div>
                             
                        </div>

                        <div class="input-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="buscar" name="keywords" id="keywords">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" id="lupabutton" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>

                      
                    }
                </li>


            </ul>
            <ul class="nav navbar-top-links navbar-right">

                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("UserProfileNav")
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")">
                            <i class="fa fa-sign-in"></i> Iniciar sesión
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</div>

<script type="text/javascript">

    var Mylatitude;
    var Mylongitude;

    $(function () {
        
        var date = new Date();
        console.log(date);

        // Custom Culture
        $.fn.datepicker.dates['en'] = {
            days: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
            daysShort: ["Dom", "Lun", "Mar", "Mier", "Jue", "Vier", "Sab"],
            daysMin: ["Do", "Lu", "Mar", "Mi", "Ju", "Vi", "Sa"],
            months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            monthsShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            today: "Today",
            clear: "Clear",
            format: "dd/mm/yyyy",
            titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
            weekStart: 0
        };


        $('.date').datepicker({
            todayBtn: true  ,
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: 'mm/dd/yyyy',
            startDate: '0d',
            todayHighlight: true,
            //showOnFocus : false,
        });
       
        //para que funcione bien en picker nativo de mobile despues de seleccionar fecha
        $("#date").on('changeDate', function(ev){
            $(this).datepicker('hide');
        });

        // Rango laboral para el datePicker
        $('#time').timepicker({
            'step': function (i) {
                //return (i % 2) ? 15 : 45;
                return 60;
            },
            'minTime': '6:00am',
            'maxTime': '10:00pm',
             
        });
        // Recuperar fecha del navegador
        $('#time').timepicker('setTime', new Date());
        
        $('#timeIcon').on('click', function () {
            $('#time').timepicker('show');
        });

        $("#date").change(RunSearch);
        $("#time").change(RunSearch);
    });

    function showLocation(position) {
        console.log(position);
        Mylatitude = position.coords.latitude;
        Mylongitude = position.coords.longitude;
        console.log("Latitude : " + Mylatitude + " Longitude: " + Mylongitude);
        $("#lat").val(Mylatitude);
        $("#lon").val(Mylongitude);

        $("#searchFieldsForm").submit();
    }

   
   
    function errorHandler(err) {
        if (err.code == 1) {
            alert("Error: El acceso al GPS fue denegado,habilitalo para una mejor experiencia de usuario!");
        } else if (err.code == 2) {
            console.log("Error: el GPS no esta disponible!");
        }
        SerchWithoutLocation();
    }
    function getLocation() {

        if (navigator.geolocation) {
            // timeout at 60000 milliseconds (60 seconds)
            var options = { timeout: 60000 };
            navigator.geolocation.getCurrentPosition(showLocation,
                errorHandler,
                options);
        } else {
            console.log("Lo sentimos, tu navegador no soporta geolocalización!");
            SerchWithoutLocation();
        }
    }
    function RunSearch() {
        getLocation();
    }

    function SerchWithoutLocation() {
       
        $("#searchFieldsForm").submit();
        //
    }
    
    //function activeCarousel() {
    //    console.log("set Carousel");
    //    $(".owl-carousel").owlCarousel();
    //}
</script>