@{
    ViewBag.Title = "Administrar Reservas";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    var options = new AjaxOptions()
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loaderSection",
        UpdateTargetId = "BookingListSection"
    };

    var name = Model != null ? Model.Name : "ADMINISTRADOR DE LA PLATAFORMA";
}
@model   Center

@Scripts.Render("~/plugins/knockout")


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2> </h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">  </a>
            </li>
            <li>

            </li>
            <li class="active">
                <strong>  </strong>
            </li>
        </ol>
    </div>
</div>
 

<div class="wrapper wrapper-content animated fadeInRightBig" id="bookingAdminSection" >
    
    
                            <div class="row">
                                <h2>Complejo : @name</h2>
                            </div>
                            <div class="row">
                                <h3>Confirmacion de Reservas </h3>
                            </div>
                            <div class="row">
                                @using (Ajax.BeginForm("SearchAync", "Booking", null, new AjaxOptions
                                 {
                                        HttpMethod = "post",
                                        InsertionMode = InsertionMode.Replace,
                                        LoadingElementId = "loaderSection",
                                        UpdateTargetId = "BookingListSection",
                                        
                                    }, new { id = "searchbookingsform" }))
                                {
                                    @*<div class="col-sm-1 m-b-xs">
                                        @Ajax.ActionLink(" ", "AddOrUpdate", "Booking", null, options, new { @class = "btn btn-danger btn-circle btn-outline fa fa-plus" }) 
                                    </div>*@
                                   
                                    <div class="col-sm-1 m-b-xs">
                                        <button type="submit" id="loading-example-btn" class="btn btn-sm btn-white"><i class="fa fa-refresh"></i> </button>

                                    </div>
                                    <div class="col-sm-3 m-b-xs">
                                        <select class="input-sm form-control input-s-sm inline" id="BookingStatus" name="BookingStatus" data-bind="
                                    options: statuses,
                                    optionsText: 'Name',
                                    value : seelctedStatus,
                                    optionsValue: 'Id',event:{ change: onSelectionStatusChange},
                                    optionsCaption: 'Estado...' "></select>
                                    </div>
                                    <input type="hidden" data-bind="numeric, value:page" name="page" id="page"/>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <input type="text" placeholder="Buscar" class="input-sm form-control" id="keywords" name="keywords" data-bind="value:keywords">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-sm btn-primary"> Go!</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-sm btn-danger inline" data-bind="click:cleanFilters">
                                            <i class="fa fa-close"></i>
                                        </button>

                                    </div>
                                }
                            </div>
                            @*<div id="loader" style="display: none">
                                <div style="padding-left:10%;padding-top:10%;z-index:100000">
                                    @Html.Partial("LoaderCircle")
                                </div>
                            </div>*@
                            <div class="table-responsive" id="BookingListSection"> 
                               
                                
                                    @*@Html.Partial("LoaderCircle")*@
                                
                                 
                            </div>
                            <div class="row">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-white" data-bind="click:previousPage">
                                        <i class="fa fa-chevron-left"></i>
                                    </button>
                                    @*<div data-bind="foreach:pages">
                                        <button class="btn btn-white  active" data-bind="text: number"></button>
                                    </div>*@
                                   
                                   
                                    <button type="button" class="btn btn-white" data-bind="click:nextPage">
                                        <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                          
      
    
</div>

<div class="modal fade" id="ChangeState" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header animated shake">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Administracion Reservas</h4>
                
            </div>

            @*<div class="modal-body" id="modalLoader">
                @Html.Partial("LoaderCircle")
            </div>*@
            <div class="modal-body" id="bookingModal">

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                </div>*@
        </div>
    </div>
</div>
@Styles.Render("~/plugins/footableStyles")
@Scripts.Render("~/plugins/footable")
<script type="text/javascript">


    var pagelimit = 0;
     
    var viewmodel = {
        roles: [],
        statuses: [],
        keywords: ko.observable(),
        seelctedStatus: ko.observable(),

        page: ko.observable(1),
        limit :ko.observable(1),
        scrollposition: ko.observable(),
        onSelectionChange: function () {
            $("#page").val('0');
            doSearch();
        },
        onSelectionStatusChange: function () {
            $("#page").val('0');
            doSearch();
        },
        previousPage: function () {
            var pag = Number($("#page").val()) - 1;
            if (pag > 0) {
                $("#page").val(pag);
                doSearch();
                $("#page").val(pag);
            }
        },
        nextPage: function () {
            var pag = Number($("#page").val()) + 1;
            var limit = Number(pagelimit);
            console.log("page : "+pag+"pageLImit: "+limit)
            if (pag > 0 && pag <= limit) {
                $("#page").val(pag);
                doSearch();
            }
        },
        pages: function () {
            var  pageitems=[];
            for (i = 1; i < pagelimit; i++) {
                pageitems.push({number:i});
            }
            return pageitems;
        },
        cleanFilters: function () {

            $("#page").val('0');
            $("#keywords").val('');
            $("#BookingStatus").val(-1);
            doSearch();
        }

    };
    // Initialize

    function doSearch() {
        $("#searchbookingsform").submit();
    }

    $(function () {


        $.get('@Url.Action("Statuses", "Booking")', function (status) {
            viewmodel.statuses = status;
            applybindigs(status);
        });

        $("#searchbookingsform").submit();


    });
    function applybindigs(statuses) {

        console.log("Try apply bindings");
        viewmodel.statuses = statuses;
        ko.applyBindings(viewmodel);

    };

    function showDetails() {
        viewmodel.MainshowDetails();
    }


    function showmodal() {
        $("#bookingModal").html(null);
        //$("#modalLoader").fadeIn();
        $("#loaderSection").fadeIn();
        $('#ChangeState').modal('show');
    }
    function hideModal() {
        $('#ChangeState').modal('hide');
    }


    function GetBookingUpdateView(url) {
        $.ajax({
            type: "POST",
            url: url,
            //data: ,
            datatype: "html",
            success: function (data) {
                $('#bookingModal').html(data);
                $("#loaderSection").fadeOut();
            }
        });
    }
    function UpdateStatus(id,status) {
        console.log("Booking uid :" + id);
        showmodal();
        GetBookingUpdateView('@Url.Action("UpdateBookingStatus", "Booking")' + "?id=" + id+"&status="+status);
    }
    
    function ShowUserDetails(userid) {
        console.log("user id: " + userid);
        showmodal();
        GetBookingUpdateView('@Url.Action("UserSummary", "Booking")' + "?id=" + userid);
    }

    function OnCompleteBookingUpdate(result) {
        console.log("nuevo resultado ");
        console.log(result);
        $("#searchbookingsform").submit();
        hideModal();
    }
  
     
</script>



