@{
    ViewBag.Title = "Administrar Reservas";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    var options = new AjaxOptions()
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loaderSection",
        UpdateTargetId = "BookingListSection"
    };

    var name = Model != null ? Model.Name : "ADMINISTRADOR DE LA PLATAFORMA";
}
@model   Center

@Scripts.Render("~/plugins/knockout")


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2> </h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">  </a>
            </li>
            <li>

            </li>
            <li class="active">
                <strong>  </strong>
            </li>
        </ol>
    </div>
</div>
 

<div class="wrapper wrapper-content animated fadeInRightBig" id="bookingAdminSection" >
    
    
                            <div class="row">
                                <h2>Complejo : @name</h2>
                            </div>
                            <div class="row">
                                <h3>Confirmacion de Reservas </h3>
                            </div>
                            <div class="row">
                                @using (Ajax.BeginForm("SearchAync", "Booking", null, new AjaxOptions
                                 {
                                        HttpMethod = "post",
                                        InsertionMode = InsertionMode.Replace,
                                        LoadingElementId = "loaderSection",
                                        UpdateTargetId = "BookingListSection",
                                        
                                    }, new { id = "searchbookingsform" }))
                                {
                                    @*<div class="col-sm-1 m-b-xs">
                                        @Ajax.ActionLink(" ", "AddOrUpdate", "Booking", null, options, new { @class = "btn btn-danger btn-circle btn-outline fa fa-plus" }) 
                                    </div>*@
                                   
                                    <div class="col-sm-1 m-b-xs">
                                        <button type="submit" id="loading-example-btn" class="btn btn-sm btn-white"><i class="fa fa-refresh"></i> </button>

                                    </div>
                                    <div class="col-sm-3 m-b-xs">
                                        <select class="input-sm form-control input-s-sm inline" id="BookingStatus" name="BookingStatus" data-bind="
                                    options: statuses,
                                    optionsText: 'Name',
                                    value : seelctedStatus,
                                    optionsValue: 'Id',event:{ change: onSelectionStatusChange},
                                    optionsCaption: 'Estado...' "></select>
                                    </div>
                                    
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <input type="text" placeholder="Buscar" class="input-sm form-control" id="keywords" name="keywords" data-bind="value:keywords">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-sm btn-primary"> Go!</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-sm btn-danger inline" data-bind="click:cleanFilters">
                                            <i class="fa fa-close"></i>
                                        </button>

                                    </div>
                                }
                            </div>
                            
                            <div class="table-responsive" id="BookingListSection"> 
                               
                                 
                                 
                            </div> 
      
    
</div>

<div class="modal fade" id="ChangeState" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header animated shake">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Administracion Reservas</h4>
                
            </div>

            
            <div class="modal-body" id="bookingModal">

            </div>
            
        </div>
    </div>
</div>
 
<script type="text/javascript">


    var pagelimit = 0;
     
    var viewmodel = {
        roles: [],
        statuses: [],
        keywords: ko.observable(),
        seelctedStatus: ko.observable(), 
        onSelectionStatusChange: function () {
            $("#page").val('0');
            doSearch();
        },
       
        cleanFilters: function () {

            $("#page").val('0');
            $("#keywords").val('');
            $("#BookingStatus").val(-1);
            doSearch();
        }

    };
    // Initialize

    function doSearch() {
        $("#searchbookingsform").submit();
    }

    $(function () {


        $.get('@Url.Action("Statuses", "Booking")', function (status) {
            viewmodel.statuses = status;
            applybindigs(status);
        });

        $("#searchbookingsform").submit();


    });
    function applybindigs(statuses) {

        console.log("Try apply bindings");
        viewmodel.statuses = statuses;
        ko.applyBindings(viewmodel);

    };

    function showDetails() {
        viewmodel.MainshowDetails();
    }


    function showmodal() {
        $("#bookingModal").html(null);
        //$("#modalLoader").fadeIn();
        $("#loaderSection").fadeIn();
        $('#ChangeState').modal('show');
    }
    function hideModal() {
        $('#ChangeState').modal('hide');
    }


    function GetBookingUpdateView(url) {
        $.ajax({
            type: "POST",
            url: url,
            //data: ,
            datatype: "html",
            success: function (data) {
                $('#bookingModal').html(data);
                $("#loaderSection").fadeOut();
            }
        });
    }
    function UpdateStatus(id,status) {
        console.log("Booking uid :" + id);
        showmodal();
        GetBookingUpdateView('@Url.Action("UpdateBookingStatus", "Booking")' + "?id=" + id+"&status="+status);
    }
    
    function ShowUserDetails(userid) {
        console.log("user id: " + userid);
        showmodal();
        GetBookingUpdateView('@Url.Action("UserSummary", "Booking")' + "?id=" + userid);
    }

    function OnCompleteBookingUpdate(result) {
        console.log("nuevo resultado ");
        console.log(result);
        $("#searchbookingsform").submit();
        hideModal();
    }
  
     
</script>



