@model IEnumerable<Access.Models.Center>

@{
    ViewBag.Title = "Centros";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_2.cshtml";
}
 

@Html.Partial("KendoRef")  
 <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Contacts</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Canchas")">Canchas</a>
            </li>
            <li>
                App Views
            </li>
            <li class="active">
                <strong>Complejos Deportivos</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="contact-box">
                <a href="@Url.Action("Profile", "AppViews")">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="~/Images/a2.jpg">
                            @*<div class="m-t-xs font-bold">Graphics designer</div>*@
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>@item.Name</strong></h3>
                        <p><i class="fa fa-map-marker"></i> @item.Location</p>
                        <address>
                            <strong>@item.Personcontact</strong><br>
                            @item.Description<br>
                            <abbr title="Phone">P:</abbr> @item.Phone1
                            <abbr title="Phone">P:</abbr> @item.Phone2
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    }
      
        
    </div>
</div>



