@model Access.Models.Center

@{

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Administracion de Canchas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Centers", "RootAdmin")">Centros</a>
            </li>

            <li class="active">
                <strong> Datos Centro</strong>
            </li>
            <li>
                <a href="@Url.Action("CenterEdit","RootAdmin",new{id= Model.Id})" class="btn btn-danger btn-circle" type="button"
                   data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                    <i class="fa fa-pencil icon-white"></i>

                </a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> Datos Centro <small> .</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Idcompany)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Idcompany)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Location)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Location)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Town)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Town)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Department)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Department)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Country)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Neighborhood)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Neighborhood)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Administrator)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Administrator)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Personcontact)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Personcontact)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Phone1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Phone1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Phone2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Phone2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Opentime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Opentime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Closetime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Closetime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserSign)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserSign)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreateTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.OBJECTTYPE)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OBJECTTYPE)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="fieldsIncenter">
            
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
         
        $.get(@Url.Action("","",new{id=Model.Id }), function (view) {
            $("#fieldsIncenter").html(data);

        });
    });


</script>